[submodule "3/zhang_dillon"]
	path = 3/zhang_dillon
	url = https://github.com/dillzhang/Spring_Soft_Dev_HW.git
[submodule "jeffrey_zou"]
	path = jeffrey_zou
	url = https://github.com/JeffreyZou13/SoftDev2.git
[submodule "3/jeffrey_zou"]
	path = 3/jeffrey_zou
	url = https://github.com/JeffreyZou13/SoftDev2.git
