[submodule "3/winton_yee"]
	path = 3/winton_yee
	url = https://github.com/blehw/wintonyee-softdevhw.git
[submodule "3/zhang_dillon"]
	path = 3/zhang_dillon
	url = https://github.com/dillzhang/Spring_Soft_Dev_HW.git
[submodule "3/jeffrey_zou"]
	path = 3/jeffrey_zou
	url = https://github.com/JeffreyZou13/SoftDev2.git
[submodule "3/rijiu_zheng"]
	path = 3/rijiu_zheng
	url = https://github.com/RJZheng1/softdev2hw.git
[submodule "3/tony_li"]
	path = 3/tony_li
	url = https://github.com/tonyli7/SoftDevHW.git
[submodule "3/samuel_zhang"]
	path = 3/samuel_zhang
	url = https://github.com/CodeSammich/softdev_two
[submodule "3/jerry_lei"]
	path = 3/jerry_lei
	url = https://github.com/jerrylei98/softdev_work.git
[submodule "3/leon_cheng"]
	path = 3/leon_cheng
	url = https://github.com/leoncheng57/brown-softdev-fall-hw
[submodule "3/alexander_sosnovsky"]
	path = 3/alexander_sosnovsky
	url = https://github.com/atrp--/brown.git
[submodule "3/max_fishelson"]
	path = 3/max_fishelson
	url = https://github.com/Fishelstix/softdev_spring16.git
[submodule "3/henry_filosa"]
	path = 3/henry_filosa
	url = https://github.com/hfilosa/softdev_hw.git
[submodule "6/sandy_fang"]
	path = 6/sandy_fang
	url = https://github.com/snady/softdev-hw
